#sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("circles-dark.png");
}

#topnav{
    background-color: rgb(67, 50, 160);
    overflow: hidden;
}

#topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Capriola';font-size: 32px;
    font-size: 17px;
}

#main{
    text-align: center;
    font-family: 'Capriola';font-size: 32px;
}
#secondary{
    text-align: center;
    font-family: 'Capriola';font-size: 25px;
}
p{
    font-family: 'Capriola';font-size: 15px;
}

button{
    width: 60px;
    height: 30px;
}

#result{
    display:none;
}
